.contact-card {
  background: #f8fafc;
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 12px;
  border-left: 4px solid #2563eb;
}
p{
  text-align: center;
  font-size: large;

}
button{
  background-color: #2563eb;
  padding: 8px;
  color: #f8fafc;
  cursor: pointer;
}
