.about-card {
  background: #f8fafc;
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 12px;
  border-left: 4px solid #2563eb;
}
p{

  text-align: center;
  font-size: large;
  margin-bottom: 30px;
}