<h2 class="section-title">

  Frontend Developer</h2>

<div class="intro">
  <p>UI Developer with 4+ years of experience in building scalable and responsive web applications using Angular 17,
    TypeScript,
    and Tailwind CSS. Strong expertise in building scalable, accessible (WCAG-compliant) UI screens, integrating REST
    APIs,
    and delivering high-quality code following industry standards. Experience includes Agile/Scrum, CI/CD, and
    deployment activities.
    Recognized for strong delivery, initiative, and contribution to team success.</p>
</div>