<h2 class="section-title">Projects & Professional Experience</h2>

<!-- EXPERIENCE -->
<div class="project-grid">

  <div class ="project-card">
  <div class ="Heading">
  <h3>Angular Developer – Tata Consultancy Services (TCS)</h3>
  <p class="duration">Aug 2021 – Present</p></div>

  <ul >
    <li>Developed reusable UI components using Angular 16/17.</li>
    <li>Migrated legacy modules to latest Angular versions.</li>
    <li>Built responsive and accessible UI using Tailwind CSS (WCAG compliant).</li>
    <li>Integrated REST APIs, validations, and Reactive Forms.</li>
    <li>Improved development efficiency by 25% using AI-based tools.</li>
    <li>Led sprint planning, daily stand-ups, and scrum activities.</li>
  </ul>
</div>

<!-- PROJECT -->
<div class ="project-card">
  <h3>Career Portal Modernization</h3>
  <div class ="Heading">
    <p><strong>Role: </strong>Angular Developer</p>
    <p><strong>Tech Stack:</strong> Angular 16/17, TypeScript, <br>
      Tailwind CSS, RxJS, REST APIs, Java
  </p></div>

  <ul>
    <li>Designed reusable layouts to maintain UI consistency.</li>
    <li>Built dynamic forms with custom validations.</li>
    <li>Integrated APIs for jobs, profiles, applications, and offers.</li>
    <li>Implemented lazy-loaded modules and route guards.</li>
    <li>Delivered responsive UI for desktop, tablet, and mobile.</li>
  </ul>
</div>

<!-- HIGHLIGHTS -->

</div>
