<h2 class="section-title">Skills</h2>

<div class="skills-grid">

  <!-- Frontend -->
  <div class="skill-card">
    <h3>Frontend</h3>
    <ul>
      <li>Angular (v16 / v17)</li>
      <li>TypeScript</li>
      <li>HTML5</li>
      <li>CSS</li>
      <li>Tailwind CSS</li>
    </ul>
  </div>

  <!-- Tools & Practices -->
  <div class="skill-card">
    <h3>Tools & Practices</h3>
    <ul>
      <li>REST API Integration</li>
      <li>Responsive Design</li>
      <li>WCAG Accessibility</li>
      <li>Version Control (Git)</li>
      <li>Agile Development</li>
      <li>VS Code</li>
      <li>AI Tools for Code Optimization</li>
    </ul>
  </div>

  <!-- Backend -->
  <div>
  <div class="skill-card">
    <h3>Backend</h3>
    <ul>
      <li>Core Java</li>
    </ul>
  </div>
  <div class="skill-card m">
    <h3>Other</h3>
    <ul>
      <li>Knowledge on Generative AI Tools</li>
    </ul>
  </div></div>
  <!-- Other -->


</div>
